.missionStatement {
  background-color: rgb(110, 129, 145);
  max-width: 1000px;
  min-width: 414px;
  width: auto;
  height: 300px;
  margin: auto;
  text-align: center;
}

.missionStatement p {
  margin: 2em;
}
