.missionStatement {
  background-color: rgb(110, 129, 145);
  max-width: 2000px;
  min-width: 360px;
  width: auto;
  height: auto;
  max-height: 600px;
  margin: auto;
  text-align: center;
  flex-wrap: wrap;
}

.missionStatement p {
  margin-top: 2em;
  margin-right: 2em;
  margin-left: 2em;
  padding-bottom: 1em;
  width: auto;
  max-width: 1000px;
  display: inline-block;
  font-size: 19px;
  font-family: sans-serif;
}

.missionStatement h1 {
  font-family: "Josefin Sans", sans-serif;
}
