.hamburgerMenu {
  display: none;
  position: absolute;
  right: 10px;
  top: 15px;
  z-index: 4;
}

@media screen and (max-width: 600px) {
  .hamburgerMenu {
    display: block;
  }
}

.overlay {
  display: flex;
  flex-direction: column;
  width: 0%;
  height: 100%;
  position: fixed;
  z-index: 2;
  right: 0;
  bottom: 0;
  background: rgb(108, 132, 161);
  opacity: 0.9;
  overflow-x: hidden;
  transition-property: width, box-shadow;
  transition-duration: 300ms;
  transition-timing-function: linear;
  border-radius: 50px 0px 0px 50px;
}

.showContent {
  width: 80%;
  box-shadow: 5px 0px 10px 4px black;
}

.overlayContent {
  z-index: 2;
  display: flex;
  flex-wrap: nowrap;
  text-decoration: none;
  position: relative;
  top: 25%;
  width: 170px;
  left: 33%;
  margin-top: 30px;
  color: white;
  font-size: 2.3em;
}

.overlayContent:hover {
  color: white;
  cursor: pointer;
}

.homeIcon {
  position: relative;
  top: 2px;
  left: -3px;
  font-size: 0.8em;
}

@media screen and (min-width: 600px) {
  .overlay {
    display: none;
  }
}
