.hamburgerMenu {
  display: none;
  position: absolute;
  right: 10px;
  top: 15px;
  z-index: 2;
}

@media screen and (max-width: 600px) {
  .hamburgerMenu {
    display: block;
  }
}

.overlay {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  right: 0;
  background: rgb(108, 132, 161);
  opacity: 0.9;
  overflow-x: hidden;
  transition-property: width;
  transition-duration: 350ms;
  transition-timing-function: ease-in;
}

.showContent {
  width: 80%;
}

.overlayContent {
  text-decoration: none;
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  color: white;
  font-size: 2.3em;
}

.overlayContent:hover {
  color: white;
  cursor: pointer;
}
