.navBar {
  display: flex;
  justify-content: space-around;
  background-color: rgb(110, 129, 145);
  position: sticky;
  top: 0;
  z-index: 1;
}

.links {
  display: flex;
  align-items: center;
  gap: 2em;
}

@media screen and (max-width: 600px) {
  .links {
    display: none;
  }
}
