.services {
  background-color: darkgray;
  max-width: 1000px;
  min-width: 414px;
  height: 400px;
  width: auto;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5em;
}

.services div {
  width: 275px;
  height: 360px;
  border: none;
  background-color: lightgrey;
  border-radius: 5px;
}
