.servicesPage{
  background-color: darkgray;
}
.servicesPage1 .servicesCardStyle {
  border: 0;
  border-radius: 0%;
  background-color: darkgray;
  
}
.servicesPage1 .servicesImageStyle {

  border: 0;
  border-radius: 0%;
}
.servicesPage1 .servicesTextStyleForCard {
  padding-top: 1rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  color: #000000;
  font-size: larger;
 
}
.servicesPage1 .servicesTextStyleForCardTitle {
  font-size: 2rem;
}

@media (min-width: 1000px) {
  .servicesPage1 .servicesImageStyle {
    width: 40rem;
    float: left;
    padding-right: 2rem;
  }
  .servicesPage1 .servicesTextStyleForCard {
    text-align: center;
  }
}
.servicesPage1 .servicesButtonStyle {
    background-color: rgb(61, 61, 61);
    border: 0;
    border-radius: 0%;
    width: 980px auto;
    margin: 7px;
    
}

.priceingBanner .titleforPriceing {
  text-align: center;

}
.priceingBanner .infoForPricing{
  text-align: center;

}
