.carousel-container {
  background-color: lightcoral;
  max-width: 1000px;
  min-width: 600px;
  height: 300px;
  border-radius: 5px;
  margin: auto;
}

.carousel-container h1 {
  text-align: center;
}
